
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/blog.css">
  </head>
  <body>
<h1>All Blog Posts</h1>
<div class="post-container"> 

  <% posts.forEach(post => { %>
    
    <div class="post-title"> <h2><%= post.title %></h2> </div>
    <div class="post-body">  
      <p><%= post.body %></p>
     </div>
    <div class="post-body">  
      <p><%= post.description %></p>
     </div>
     <div class="post-meta"> 
      <small>Author: <%= post.author.first_name %> <%= post.author.last_name %></small>
      <p>Tags: <%= post.tags.join(', ') %></p>
      <p>Read count: <%= post.read_count %>, Reading time: <%= post.reading_time %> mins</p>
    </div>
    
  <% }); %>

</div>
</body>
</html>
